@import './variables.scss';
@import './mixins.scss';

.navigation {
    background-color: $default_black;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 100%;
    &_category {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: $default_black;
        & > a {
            @include mainLink;
            font-size: 1.3rem;
            margin-top: 1rem;
        }
        & .active {
            color: $main_title_color;
        }

        &-title {
            background-color: $default_black;
            text-decoration: underline;
            font-size: 2rem;
            text-align: center;
        }
    }
}