$default_black: #000;
$main_background: #1f1f1f;
$main_title_color: #f5c518;
$main_text_color: #fff;
$grey_background: #e8e8e8;


$lg_point: 1320px;
$md_point: 1180px;
$sm_point: 960px;
$xsm_point: 600px;